/* CSS for Body */
body {
    font-family: sans-serif;
    background-color: #F0F8FF;
}

/* CSS for the index title "A Thousand Nights in Vegas */
.maintitle {
    width: 1800px;
    height: 75px;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    text-shadow: 1px 1px 1px #000;
}

.maintitle strong {
    color: red;
    border-radius: 25px;
    padding: 10px;
    border:1px dashed #333;
    background-color: #eee;
}

/* CSS for simulation container */
.simcontainer {
    height: 800px;
    width: 1800px;
    margin: 0 auto;
    text-shadow: 0.5px 0.5px 0.5px #000;
}

/* CSS for user game options */
.optioncontainer {
    height: 800px;
    width: 544px;
    float: left;
    margin: 0px;
    background-color:#3366CC;
    font-size: 12px;
    border-top: 2px solid #ddd;
}

.tooltip {
    width: 542px;
    height: 280px;
    text-align: center;
}

.tooltipimg {
    float: right;
    height: 250px;
    width: 200px;
    margin-top: 30px;
}

.tooltiptext {
    float: left;
    height: 280px;
    width: 342px;
}

#gamecontainer {
    width: 100%;
    text-align: center;
}

#hiddengames {
    font-size: 20px;
    padding-bottom: 10px;
}

#rulescontainer {
    width: 400px;
    text-align: center;
    margin: -60px 0 0 170px;
}

#hiddenrules {
    font-size: 20px;
}

#strategycontainer {
    width: 100%;
    text-align: center;
}

#hiddenstrategies {
    font-size: 20px;
    padding-bottom: 10px;
}

.clickAppear {
    cursor: pointer;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.clickAppear:hover {
    background-color: #333;
    color: #eee;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* CSS for the graph */
.graphcontainer {
    height: 800px;
    width: 1256px;
    float: right;
    background-color: #ADD8E6;
    border-top: 2px solid #ddd;
}

path{
    stroke: grey;
    stroke-width: 2;
    fill: none;
    opacity:0.2;
    shape-rendering: crispEdges;
}

.brokeLine{
    stroke:darkred;
    stroke-width: 2;
    fill: none;
    opacity:0.2;
}

path:hover{
    opacity:1;
    stroke-width:4;
}

.ave{
    stroke: black;
    stroke-width: 2;
    fill: none;
    opacity:1;
}

.axis text {
    font-size: 15px;
}

.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.grid .tick {
    stroke: #333;
    stroke-opacity: 0.4;
    shape-rendering: crispEdges;
    stroke-width: 1;
}

.grid path {
    stroke-width: 1;
    stroke: none;
}

.histbar rect{
    fill:#79b;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.histbar rect:hover {
    cursor: pointer;
    stroke:black;
    stroke-width:1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* CSS for additional info */
.additionalinfo {
    width: 1800px;
    height: 230px;
    margin: 0 auto;
    text-align: left;
    background-color:#6699FF;
    margin-bottom: 30px;
}

#memberslist {
    float: left;
    width: 150px;
    height: 100%;
    padding-left: 40px;
}

#classinfolist {
    float: left;
    width: 390px;
    height: 100%;
}

#filesubmitlist {
    float: left;
    width: 250px;
    height: 100%;
}

#resourceslist {
    float: left;
    width: 450px;
    height: 100%;
}